.header {
	background-image:url("http://i59.tinypic.com/w19xfk.jpg");
	background-repeat:no-repeat
}
.header .logo {
	display:none
}
.highlighted {
  background: #97d5fc
}
em.group.staffgroup, em.group {
  color: #FFFFFF
}
a.closebutton, a.minimizebutton {
  color: #007fff;
  background: none;
}
li#lobby-userlist-users {
  color: #FFFFFF
}
button {
  	background: #000000;
  	color: #007fff;
  	border: 1px solid;
}
button:hover {
  	background: #444444;
  	color: #007fff;
  	border: 1px solid;
}
button.userbutton.username {
  	text-shadow: 1px 1px #000000
}
ul.userlist {
  background: url("http://i1171.photobucket.com/albums/r545/Brahak/thing_zpsmw833qiy.png");

}
body {
	background-image:url("http://oi62.tinypic.com/2re5fcx.jpg");
	background-repeat:no-repeat;
	background-position:center
}
a.button.cur, .maintabbarbottom {
  background: #000000;
  border: 1px solid;
  border-color: #007fff
}
.chat-log {
	font-size:8pt;
	font-family:Arial;
	background:url("http://i61.tinypic.com/2i0cj08.jpg") no-repeat scroll center;
	color:#000;
	overflow:auto
}
.tabbar a.button, .tabbar a.button.cur, a.button.cur.closable, a.button.cur.closable:hover {
  background: url("http://i1171.photobucket.com/albums/r545/Brahak/thing2_zpsrt7nw9no.png");
  color: #007fff;
  border: 1px solid;
  border-color: #007fff;
  text-shadow: 2px 2px #000000
}
.tabbar a.button.cur:hover {
  	background: #000000;
     color: #007fff;
  border: 1px solid;
  border-color: #007fff
        }
.tabbar a.button:hover {
  background: #333333;
  color: #007fff;
  border: 1px solid;
  border-color: #007fff
}
i.icon-home, i.icon-cog, i.icon-volumeup {
  color: #007fff;
  background: none
}
.userlist li em.group {
	font-style:normal;
	font-size:8pt;
	color:#000;
	display:block;
	float:left;
	text-align:center;
	padding:1px 0 0 1px;
	width:14px
}

/*button.icon {
  	background: #000;
  	color: #007fff;
  border: 1px solid
}*/

.menugroup .formatselect, .menugroup .teamselect {
  	border-radius: 0px;
    border: 1px solid;
    color: #007fff;
    border-color: #007fff;
    background: #000000;
    }
.menugroup .preselected {
  	border-radius: 0px;
    color: #FFFFFF;
    background: #003972;
    opacity: .9
    }
.menugroup .button {
	background: #000000;
    opacity: 1;
  	color: #007fff;
  	border-color: #007fff;
  	border-radius: 0px;
    padding: 2px;
  	border: 1px solid;
}
button.big.button.disabled, button.big.button.disabled:hover, .menugroup .button:hover {
	background:#333333;
  	color: #007fff;
  	border-color: #007fff;
  	border-radius: 0px;
  	border: 1px solid;
}
.sunnydayweather {
	background:#FEB url("//play.pokemonshowdown.com/fx/weather-sunnyday.jpg") no-repeat scroll left top;
	color:#641;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.rainweather,.raindanceweather {
	background:#9BF url("//play.pokemonshowdown.com/fx/weather-raindance.jpg") no-repeat scroll left top;
	color:#04B;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.sandstormweather {
	background:#E6E0AC url("//play.pokemonshowdown.com/fx/weather-sandstorm.png") no-repeat scroll left top;
	color:#543;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.hailweather {
	background:#ADE url("//play.pokemonshowdown.com/fx/weather-hail.png") no-repeat scroll left top;
	color:#145;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.acidrainweather,.contaminateweather {
	background:#a64ca6 url("http://i44.tinypic.com/2w71ziv.jpg") no-repeat scroll left top;
	color:#400040;
	text-shadow:1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
.pseudoweather {
	background:#DAE url("//play.pokemonshowdown.com/fx/weather-trickroom.png") no-repeat scroll left top;
	color:#615;
	text-shadow: 1px 1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,-1px -1px 0 #fff
}
