.header{background-image:url("http://i59.tinypic.com/w19xfk.jpg");background-repeat:no-repeat}.header .logo{display:none}

body{background-image:url("http://oi62.tinypic.com/28in6ms.jpg");background-repeat:no-repeat;background-position:center}

.chat-log{font-size:8pt; font-family: 'Arial'; background: url("http://i61.tinypic.com/2i0cj08.jpg") no-repeat scroll center;background:#a5ffa5;color:#000;overflow:auto;}

.userlist {
border-left: 1px solid #c8e3e0;
background: #cccccc;
}

.userlist li
{
        border-bottom:1px solid #c8e3e0;
        height:19px;
        font:10pt Verdana,sans-serif;
        white-space:nowrap
}

.userlist li em.group
{
        font-style:normal;
        font-size:8pt;
        color:#000000;
        display:block;
        float:left;
        text-align:center;
        padding:1px 0 0 1px;
        width:14px
}

.menugroup .button:hover{
    background:#000000  none repeat scroll 0 0;
    opacity:.7;
}

.menugroup .button{
    background:#000000  none repeat scroll 0 0;
    opacity:.9;
}

.sunnydayweather
{
        background: #FFEEBB url(//play.pokemonshowdown.com/fx/weather-sunnyday.jpg) no-repeat scroll left top;
        color: #664411;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.rainweather,
.raindanceweather
{
        background: #99BBFF url(//play.pokemonshowdown.com/fx/weather-raindance.jpg) no-repeat scroll left top;
        color: #0044BB;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.sandstormweather
{
        background: #E6E0AC url(//play.pokemonshowdown.com/fx/weather-sandstorm.png) no-repeat scroll left top;
        color: #554433;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.hailweather
{
        background: #AADDEE url(//play.pokemonshowdown.com/fx/weather-hail.png) no-repeat scroll left top;
        color: #114455;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.acidrainweather,
.contaminateweather
{
        background:  #a64ca6 url(http://i44.tinypic.com/2w71ziv.jpg) no-repeat scroll left top;
        color: #400040;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
.pseudoweather
{
        background: #DDAAEE url(//play.pokemonshowdown.com/fx/weather-trickroom.png) no-repeat scroll left top;
        color: #661155;
        text-shadow: #FFFFFF 1px 1px 0, #FFFFFF 1px -1px 0, #FFFFFF -1px 1px 0, #FFFFFF -1px -1px 0;
}
